<SECS Emulator>
  <Settings>
    <Mode>HSMS-SS</Mode>
    <SECS-I>
      <DeviceID>0</DeviceID>
      <Comport>1</Comport>
      <Baudrate>9600</Baudrate>
      <T1>1.000000</T1>
      <T2>3.000000</T2>
      <T3>45</T3>
      <T4>10</T4>
      <RTY>3</RTY>
      <Entity>HOST</Entity>
		</SECS-I>
		<HSMS-SS>
      <DeviceID>0</DeviceID>
      <LocalIP>127.0.0.1</LocalIP>
      <LocalPort>5000</LocalPort>
      <RemoteIP>127.0.0.1</RemoteIP>
      <RemotePort>7337</RemotePort>
      <T3>45</T3>
      <T5>10</T5>
      <T6>5</T6>
      <T7>10</T7>
      <T8>5</T8>
      <Entity>PASSIVE</Entity>
		</HSMS-SS>
	</Settings>
</SECS Emulator>
